<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoneyBearForum</title>
    <link rel="stylesheet" href="../static/css/Pagescss.css">
</head>
<body style="background: #dfeffc">
    <div id="Vue">
        <div class="top_bar" >
            <div v-show="logined">
                <a class="top_bar_font" href="#homapage1" onmouseover="showDynamicUserDataFrame();" >用户</a>
                <!--            <a class="top_bar_font" href="#用户" >***</a>-->
                <a class="top_bar_font" href="#消息" onmouseover="showDynamicMessageFrame();">消息</a>
            </div>
            <div v-show="notlogined" style="text-align: right">
                <label>请先登陆</label><a href="/login">登陆</a>
            </div>
        </div>
        <div class="post_content_container">
<!--            帖子上面的分区和帖子总数和导航-->
            <div class="post_content_up_warpper">
                <div class="post_zone_warpper">
                    <div class="post_zone_img_box"><img class="mini_zone_icon " :src="zonedata.ziconUrl" alt="zone"></div>
                    <div class="post_zone_text_box">
                        <a class="post_zone_tittle">{{ zonedata.zname }}分区</a>
                        <button id="like_button" :class="zoneFollowButtonClass" onclick="floowButtonToggle(this);followZone();">+关注</button>
                        <label class="margin_left_20px ">关注人数:{{ zonedata.likeNumber }}</label>
                        <label class="margin_left_20px">帖子数:{{ zonedata.postcount }}</label>
                    </div>
                </div>
                <div class="post_reply_number_warpper">
                    <a class="total_reply_number">共{{ postdata.floorCount }}个回复</a>
                    <div class="post_page_navigation">导航</div>
                    <a class="return_zone_link none_underline_link" :href="['/zone/' + zonedata.zurl]">返回专区</a>
                </div>
            </div>

<!--            帖子内容，第一层单独构造-->
            <div class="post_content_warpper">
                <div class="tittle_warpper">
                    <label class="post_tittle">{{ postdata.ptittle }}</label>
                    <div class="like_warpper">
                        <button class="comment_button margin_right_10px" onclick="collectpost();postCollectButtonToggle(this)">{{postCollectButtonText}}</button>
                        <button class="comment_button margin_right_10px" onclick="thumbup();postLikeButtonToggle(this)">{{thumbUpText}}</button>
                        <button class="comment_button " onclick="thumbdown();postdisLikeButtonToggle(this)">{{thumbDownText}}</button>
                    </div>

                </div>

<!--                一楼-->
                <div :id="['floor'+head.floor_index]" class="floor_warpper" >
                    <div class="floor_left_warpper">
                        <div class="author_label"><img class="author_label" src="../static/images/page_icons/author.png"></div>
                        <div class="floor_left_user_icon_warpper " style="margin-top: 10px"><a :href="['/userdata/'+head_uid]" class="cursor_pointer"><img class="floor_left_user_icon" :src="head_iconurl"></div>
                        <a :href="['/userdata/'+head_uid]" class="floor_left_user_icon_link cursor_pointer none_underline_link">{{head_nick}}</a>
                    </div>
                    <div class="floor_right_warpper">
                        <span class="post_reletive_right0_floor_number">{{ head.floor_index }}楼</span>
                        <div class="post_content" style="width: 100%">
                            <div style="width: 99%;resize: none;border:none;" v-html="head.content"></div>


                        </div>
                        <div class="post_reletive_right0_date1 post_reply_date_label " ><label style="margin-right: 10px">{{head.ftime}}</label></div>
                        <button name="show_hide" class="show_hide_reply_button" onclick="show_hide_reply(this)">隐藏回复</button>
                        <div class="replys_warpper " >

                            <!--                            楼中楼在这里-->
                            <div v-for="reply in head.replys" class="reply_box">
                                <div class="mini_reply_user_icon_box"><a :href="['/userdata/'+reply.userdata.uid]" class="cursor_pointer"><img class="mini_reply_user_icon" :src="reply.userdata.iconUrl"></a></div>
                                <div class="mini_reply_username"><a :href="['/userdata/'+reply.userdata.uid]" class="cursor_pointer none_underline_link">{{reply.userdata.nick}}:</a></div>
                                <p>
                                <div class="reply_textarea">{{reply.content}}</div>
                                </p>
                                <label class="post_reletive_right0_date">{{reply.ftime}}</label>
                            </div>


                            <div class="reply_reply_warpper">
                                <label>回复</label>
                                <textarea  class="reply_reply_textarea" onblur="checkIsTextEmpty(this)"></textarea>
                                <button :id="['b'+head.floor_index]" class="comment_button reply_reply_button disabled" onclick="reply(this)" >回复</button>
                            </div>
                        </div>

                    </div>
                </div>

<!--                二楼从下面开始-->
                <div v-for="floor in floors" :id="['floor'+floor.floor_index]" class="floor_warpper" >
                    <div class="floor_left_warpper">
                        <div class="floor_left_user_icon_warpper1" ><a :href="['/userdata/'+floor.userdata.uid]" class="cursor_pointer"><img class="floor_left_user_icon" :src="floor.userdata.iconUrl"></div>
                        <a :href="['/userdata/'+floor.userdata.uid]" class="floor_left_user_icon_link none_underline_link">{{floor.userdata.nick}}</a>
                    </div>
                    <div class="floor_right_warpper">
                        <span class="post_reletive_right0_floor_number">{{ floor.floor_index }}楼</span>
                        <div class="post_content" style="width: 100%">
                            <div style="width: 99%;resize: none;border:none;" v-html="floor.content"></div>

                        </div>
                        <div class="post_reletive_right0_date1 post_reply_date_label " ><label style="margin-right: 10px">{{floor.ftime}}</label></div>
                        <button name="show_hide" class="show_hide_reply_button" onclick="show_hide_reply(this)">隐藏回复</button>
                        <div class="replys_warpper " >

<!--                            楼中楼在这里-->
                            <div v-for="reply in floor.replys" class="reply_box">
                                <div class="mini_reply_user_icon_box"><a :href="['/userdata/'+reply.userdata.uid]" class="cursor_pointer"><img class="mini_reply_user_icon" :src="reply.userdata.iconUrl"></a></div>
                                <div :href="['/userdata/'+reply.userdata.uid]" class="mini_reply_username none_underline_link"><a>{{reply.userdata.nick}}:</a></div>
                                <p>
                                <div class="reply_textarea">{{reply.content}}</div>
                                </p>
                                <label class="post_reletive_right0_date">{{reply.ftime}}</label>
                            </div>

                            <div class="reply_reply_warpper">
                                <label>回复</label>
                                <textarea class="reply_reply_textarea" onblur="checkIsTextEmpty(this)" ></textarea>
                                <button :id="['b'+floor.floor_index]" class="comment_button reply_reply_button disabled" onclick="reply(this)" >回复</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

<!--            回复富文本框-->
            <div class="create_new_post_container">
                <div class="create_new_post_input_warpper">
                    <label class="zone_create_post_tittle">回复</label>
                    <div class="zone_post_creatd_post_input_field_warpper">
                        <!--                            <label>内容</label>-->
                        <!--                            <input id="file" multiple="" type="file" class="new_post_images" accept="images/*" style="display: none" onclick="MutiImg()">-->
                        <div id="Editor">

                        </div>
                    </div>
                    <div class="zone_post_create_bottom_warpper">
                        <button class="zone_post_creat_ubmit_button" onclick="ReplyTopic()">回复</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="return_top">
            <div class="return_box" onclick="toTop()"><a style="line-height: 48px">Top</a></div>
            <div class="return_box" onclick="aa();refresh();"><a style="line-height: 48px">刷新</a></div>
        </div>
        <div class="footer1">copyright©2021 Loneybear All Right Reserved</div>
        <div v-if="logined" class="mini_userdata_contatiner_transparent display_none" id="dynamic_user_data" onmouseover="showDynamicUserDataFrame()" onmouseout="hideDynamicUserDataFrame()">
            <div class="mini_userdata_contatiner" v-if="logined">
                <div class="mini_userdata_icon_container">
                    <a href="/userdata"><img class="icon_cirile mini_data_icon" :src="userdata.code==-1 ? '/' :  userdata.iconUrl"></a>
                </div>
                <div class="mini_data_icon_profile_warpper">
                    <div class="mini_userdata_divide_box_type1 mini_userdata_divide_box_top mini_userdata_divide_box_center" style="padding-bottom: 0">
                        <a class="none_underline_link a_block_display" href="/userdata">{{userdata.nick}}</a>
                        <a class="none_underline_link a_block_display" style="margin-bottom: 15px">Lv.{{ userdata.level }}</a>
                    </div>
                    <!--               <div class="mini_userdata_divide_box mini_userdata_divide_box_center" style="padding-top:0 "></div>-->
                    <div class="mini_userdata_divide_box mini_userdata_divide_box_top"><a class="none_underline_link" href="/userdata">个人中心</a></div>
                    <div class="mini_userdata_divide_box"><a class="none_underline_link" href="#">收藏主题</a></div>
                    <div class="mini_userdata_divide_box"><a class="none_underline_link" href="#">浏览记录</a></div>
                    <div class="mini_userdata_divide_box"><a class="none_underline_link" href="/logout">退出登录</a></div>
                </div>
            </div>
        </div>
        <div class="mini_message_contatiner_transparent display_none" id="dynamic_message_data" onmouseover="showDynamicMessageFrame()" onmouseout="hideDynamicMessageFrame()">
            <div class="mini_message_contatiner">
                <div class="mini_userdata_divide_box mini_userdata_divide_box_top"><a class="none_underline_link" href="/userdata">查看私信</a></div>
                <div class="mini_userdata_divide_box"><a class="none_underline_link" href="#">查看回复</a></div>
                <div class="mini_userdata_divide_box"><a class="none_underline_link" href="#">我的收藏</a></div>
                <div class="mini_userdata_divide_box"><a class="none_underline_link" href="/logout">我的通知</a></div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/jquery.serializejson.js"></script>
    <script src="../static/js/vue.global.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/wangEditor.min.js"></script>
    <script src="../static/js/Post.js"></script>
    <script src="../static/js/Common.js"></script>
    <script>
        const E = window.wangEditor;
        const editor = new E("#Editor");
        editor.config.height = 250;
        editor.config.menus=[
            'head',
            'bold',
            'fontSize',
            'fontName',
            'italic',
            'indent',
            'quote',
            'emoticon',
            'image',
            'undo',
            'redo',
        ]
        editor.config.uploadImgShowBase64 = true;
        editor.config.showLinkImg= false;
        editor.create();

    </script>

</body>
</html>